[submodule "SimCoupler"]
	path = SimCoupler
	url = https://github.com/argos-research/SimCoupler.git
[submodule "simulators/sumo"]
	path = simulators/sumo
	url = https://github.com/argos-research/sumo.git
[submodule "simulators/speed-dreams"]
	path = simulators/speed-dreams
	url = https://github.com/argos-research/speed-dreams.git
[submodule "tools/TraCI-Proxy"]
	path = tools/TraCI-Proxy
	url = https://github.com/argos-research/TraCI-Proxy.git
